.post-container {
	display: flex;
	flex-direction: column;
	margin: 1rem 5rem 8rem 5rem;
}

.filter-bar {
	display: flex;
	justify-content: space-between;
	margin: 20px;
}

.post {
	border: 2px solid lightgray;
	border-radius: 15px;
	margin: 15px;
	background-color: whitesmoke;
	font-family: "Open Sans", sans-serif;
}

.post-title,
.post-topic,
.post-body,
.liked-div {
	padding: 5px;
	/* border: 2px solid black; */
}

.post-title {
	color: purple;
	font-size: 1.25em;
}

.post-title:hover {
	color: var(--primary);
}

.liked-div {
	display: flex;
}

.post-topic {
	text-decoration: underline;
}

.unlike-button,
.like-button {
	border: none;
	background-color: transparent;
}

.like-button:hover {
	background-color: rgb(0, 200, 0);
	border: 1px solid black;
	border-radius: 5px;
}

.unlike-button:hover {
	background-color: red;
	border: 1px solid black;
	border-radius: 5px;
}
